.success-msg{
    background-color: grey;
    border: 3px solid green;
    border-radius: 5%;
    padding: 6px;
    color: white;
}
.error-msg{
    background-color: grey;
    border: 3px solid red;
    border-radius: 5%;
    padding: 6px;
    color: white;
}
.blog{
    border: solid 2px black;
    padding: 0.5em;
}
.blog-form{
    padding: 1em;
}
.like-btn{
    border: solid 1px gray;
    border-radius: 20%;
}
.remove-btn{
    background-color: red;
    color: white;
    border-radius: 20%;
}

.toggleble{
    background-color: gray;
}