.blog-form {
  display: flex;
  flex-direction: column;
}

.user-form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 5px;
}

.success {
  border: 3px solid green;
  padding: 5px;
  background: grey;
  color: green;
}

.error {
  border: 3px solid red;
  padding: 5px;
  background: grey;
  color: red;
}

.container-blog {
  border: 2px solid black;
  padding: 2px;
  margin: 2px;
}

.blog-content {
  display: flex;
  flex-direction: column;
}

.remove-blog {
  background: red;
  color: white;
}
